@using Domain.DTOs.Category
@model AddCategryDto
@{
    ViewData["Title"] = "Add";
}

<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="NameE"></label>
        <input asp-for="NameE" class="form-control" />
        <span asp-validation-for="NameE" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="NameA"></label>
        <input asp-for="NameA" class="form-control" />
        <span asp-validation-for="NameA" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Image"></label>
        <input type="file" asp-for="Image" class="form-control" />

    </div>
    <div class="form-check">
        <input asp-for="IsActive" class="form-check-input" type="checkbox" />
        <label asp-for="IsActive" class="form-check-label"></label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <input type="submit" value="Add" class="btn btn-primary" />

</form>
<a asp-action="HomePage" asp-controller="Admin" class="btn btn-success">Back</a>
