@using Domain.DTOs.Product
@model ProductDto
@{
	ViewData["Title"] = "AddProduct";
	SelectList selects1 = new SelectList(ViewBag.cat, "Id", "NameA");
	SelectList selects2 = new SelectList(ViewBag.sub, "Id", "NameA");
}

<form asp-action="AddProduct" method="post" enctype="multipart/form-data">
	<div>
		<label asp-for="NameE"></label>
		<input asp-for="NameE" class="form-control" />
		<span asp-validation-for="NameE" class="text-danger"></span>

	</div>
	<div>
		<label asp-for="NameA"></label>
		<input asp-for="NameA" class="form-control" />
		<span asp-validation-for="NameA" class="text-danger"></span>

	</div>
	<div>
		<label asp-for="Imagefile"></label>
		<input type="file" asp-for="Imagefile" class="form-control" />
		<span asp-validation-for="Imagefile" class="text-danger"></span>

	</div>
	<div>
		<label asp-for="Price"></label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="categoryId"></label>
		<select asp-for="categoryId" class="form-control">
			<option value="">__select category __ </option>
			@foreach (var cat in ViewBag.cat)
			{
				<option value="@cat.Id">@cat.NameA</option>
			}
		</select>
		<span asp-validation-for="categoryId" class="text-danger"></span>
	</div>

	<div>
		<label asp-for="SubCategoryId"></label>

		<select asp-for="SubCategoryId" class="form-control">
			<option value="0">__select subcategory __ </option>
		</select>
		<span asp-validation-for="SubCategoryId" class="text-danger"></span>
	</div>

	<input type="submit" value="Add_Product" class="btn btn-primary" />

</form>
<a asp-action="HomePage" asp-controller="Admin" class="btn btn-success">Back To Home</a>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$('#categorySelect').on('change', function () {
			var catId = $(this).val();
			$('#subCategorySelect').empty().append('<option>جاري التحميل...</option>');

			$.get('/Product/GetSubByCat', { categoryId: catId }, function (data) {
				$('#subCategorySelect').empty().append('<option value="">--select the sub to this category--</option>');
				$.each(data, function (i, item) {
					$('#subCategorySelect').append('<option value="' + item.id + '">' + item.nameA + '</option>');
				});
			});
		});
	</script>
}


