@model List<Domain.Domains.Admin>
@{
    ViewData["Title"] = "GetallAdmins";
}
<a asp-action="Add" class="btn btn-success">Add New Admin</a>
<table class="table table-bordered table-hover">
    <tr>
        <th>Admins</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>


    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Username</td>
            <td><a asp-action="Details" asp-route-id="@x.Id" class="btn btn-primary">Details</a></td>
            <td><a asp-action="Edit" asp-route-id="@x.Id" class="btn btn-success">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }



</table>
<a asp-action="HomePage" class="btn btn-primary">Back</a>
