@using The_gate.Extensions
@{
    int cartCount = Context.Session.GetInt32("CartCount") ?? 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_gate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/The_gate.styles.css" asp-append-version="true" />
</head>
<body style="background-color:antiquewhite">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="User" asp-action="HomePageOfUser">Home</a>
                <a class="nav-link" asp-controller="User" asp-action="Invoice" style="font-size:24px;">
                    🛒 Cart (<span id="cart-count">@cartCount</span>)
                </a>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted" style="background-color:aquamarine">
        <div class="container">
            &copy; 2025 - The_gate
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
