@model Domain.DTOs.AddAdminDto
@{
	ViewData["Title"] = "Add";
}
<div>
	<asp-controller ="Admin" asp-action="HomePage" class="btn btn-primary">Back To Home</asp-controller>
</div>
<div>
	<form asp-action="Add" method="post">

		<div>
			<label asp-for="Username">username</label>
			<input asp-for="Username" class="form form-control" />
		</div>
		<div>
			<label asp-for="Password">password</label>
			<input asp-for="Password" class="form form-control" />
		</div>
		<input type="submit" value="Add Admin" class="btn btn-success" />
	</form>
</div>

