@{
    ViewData["Title"] = "DisplayProduct";
}
@model List<Product>

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning text-center">@ViewBag.Message</div>
}
else
{
    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="@Url.Content(item.Imagep)" alt="no image" class="card-img-top" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.NameE</h5>
                        <p class="card-text text-muted">@item.NameA</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

