@model User
@{
    ViewData["Title"] = "Login";
    Layout = "_MyLayout";
}

<form asp-controller="User" asp-action="Login" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PassWord"></label>
        <input asp-for="PassWord" class="form form-control" />
        <span asp-validation-for="PassWord" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <input type="submit" value="  Login  " class="btn btn-primary me-5" />
        <a asp-controller="User" asp-action="Register" class="btn btn-success">Register</a>
    </div>


</form>

@if (ViewBag.Error != null)
{
    <div class="text-danger mt-4 accordion-body">@ViewBag.Error</div>
}
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
